{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Title -->
    <title>Project</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <!-- Core Stylesheet -->
<link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
<link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>

<!-- Header-->
        <header class="bg-dark py-1">
            <div class="container px-4 px-lg-5 my-1">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Project</h1>
                    <p class="lead fw-normal text-white-50 mb-0">haiku: Changing code unfolds, From ASCII to glyphs bold, Metamorphosis.</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
    <center>
    <h1>Standard Calculator</h1>
    <form method="post">
        {% csrf_token %}

        <input type="number" name="num1" placeholder="0" required>
        <input type="number" name="num2" placeholder="0" required>

        <br/><br/>

        <button type="submit" name="operation" value="add">Add</button>
        <button type="submit" name="operation" value="subtract">Subtract</button>
        <button type="submit" name="operation" value="multiply">Multiply</button>
        <button type="submit" name="operation" value="divide">Divide</button>
        <br/><br/>
        <button type="submit" name="operation" value="sqrt">Square Root</button>
        <button type="submit" name="operation" value="square">Square</button>
        <button type="submit" name="operation" value="reciprocal">Reciprocal</button>
        <button type="submit" name="operation" value="percentage">Percentage</button>
        <br/><br/>

    </form>
    {% if result7 %}

        <h1>Result: {{ result7 }}</h1>
 


    {% endif %}
</center>
            </div>
        </div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
